/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

.landingpage {
  background-image: url("https://cdn.pixabay.com/photo/2021/06/24/11/18/background-6360865_960_720.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 90vh;
}

.landingtitle {
  font-family: "Bahnschrift", cursive;
  font-size: 50px;
  padding-bottom: 15px;
}

.landingtext {
  font-family: "Segoe Print", cursive;
  font-size: 23px;
  font-weight: bold;
}

.marginland {
  padding-top: 15px;
}

.landingbut {
  margin-right: 150px;
}

.scroll {
  overflow-y: scroll;
  height: 450px;
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Profile Page */
#cardProfile{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
/* End Profile Page */

.faculty-page {
  margin: 0 5em 0 5em;
}

.search-input {
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: flex;
  width: 40rem;
}

.search-bar Button {
  display: flex;
  align-items: center;
}
